.git
.github
.idea
.vscode
node_modules
vendor
public/build
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
.env
.env.*
!.env.example
*.md
!README.md
Dockerfile
docker-compose*.yml
docker
.dockerignore
